.idea/
.infra
.dynamodb
.yarn_install
node_modules
testcafe_results
.DS_Store
build_dev
tsconfig.tsbuildinfo
services/uploads/local_buckets
/.env
/.env.seed
tests_output
*.log
!launchdarkly-flags.log
tests/cypress/videos
tests/cypress/screenshots
tests/cypress/downloads
.vscode/
*._S3rver_cors.xml
tests/test-results/
tests/playwright-report/
tests/playwright/.cache/
.auth/
/.cdk
cdk.context.json
.qlty/*
!.qlty/qlty.toml
**/.yarn/*
