exclude: "seed-section-base-*"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-added-large-files
        exclude: |
          (?x)(
              ^services/ui-src/public/templates/mlr-reporting-template\.xlsx$|
              ^services/ui-src/public/templates/mcpar-reporting-template\.xlsx$
          )
      - id: no-commit-to-branch
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.1.0
    hooks:
      - id: detect-secrets
        args:
          - --exclude-files
          - .*test\.json
          - --exclude-files
          - ^tests/seeds/fixtures/
          - --exclude-files
          - ^tests/playwright/data/
          - --exclude-files
          - ^services/app-api/forms/routes/
          - --exclude-files
          - ^services/app-api/utils/constants/copyover.ts
          - --exclude-files
          - services/uploads/src/test.json
          - --exclude-files
          - tests/cypress/cypress.json
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.272
    hooks:
      - id: ruff
  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.12.0
    hooks:
      - id: gitleaks
  - repo: local
    hooks:
      - id: oxfmt
        name: oxfmt
        entry: npx oxfmt
        language: system
        pass_filenames: false
      - id: oxlint
        name: oxlint
        entry: npx oxlint --deny-warnings
        language: system
        pass_filenames: false
      - id: branch-name-validation
        name: branch-name-validation
        entry: .github/branchNameValidation.ts
        language: system
        pass_filenames: false
      - id: validate-commit-msg
        name: validate-commit-msg
        entry: .github/validateCommitMessage.ts
        language: system
        stages: [commit-msg]
      - id: typescript-check-cli
        name: typescript-check-cli
        entry: bash -c "cd cli && yarn tsc --noEmit"
        language: system
        pass_filenames: false
      - id: typescript-check-api
        name: typescript-check-api
        entry: bash -c "cd services/app-api && yarn tsc --noEmit"
        language: system
        pass_filenames: false
      - id: typescript-check-ui
        name: typescript-check-ui
        entry: bash -c "cd services/ui-src && yarn tsc --noEmit"
        language: system
        pass_filenames: false
      - id: typescript-check-cdk
        name: typescript-check-cdk
        entry: bash -c "cd deployment && yarn tsc --noEmit"
        language: system
        pass_filenames: false
