// necessary to render the UsaBanner correctly
$image-path: "~@cmsgov/design-system/dist/images";
@import "@cmsgov/design-system/dist/scss/index";

@mixin tabbed-focus {
  box-shadow: 0 0 0 3px #fff,
    0 0 4px 6px var(--chakra-colors-palette-focus_dark) !important;
  // Add support for Windows High Contrast Mode (WHCM)
  // The transparent color only shows when WHCM is triggered
  outline: 3px solid transparent;
  outline-offset: 3px;
}

html,
body,
#root {
  height: 100%;
  font-size: 100%; // defaults to 16px
}

#app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

li::marker {
  font-weight: bold;
}

a {
  color: var(--chakra-colors-palette-white);
  &:hover {
    color: var(--chakra-colors-palette-gray_light);
  }
  &:visited {
    color: inherit;
  }
  transition: all 0.3s ease !important;
}

// USA BANNER STYLES

.ds-c-usa-banner {
  width: 100%;
  max-width: var(--chakra-sizes-appMax);
  display: flex;
  flex-direction: column;
  background-color: var(--chakra-colors-palette-gray_lightest);
}

// REMOVE ME NICK PLEASE FOR THE LOVE OF GOD IT HURTS TO LIVE LIKE THIS
.ds-c-dialog-wrap {
  z-index: 99999999;
}

// SCROLLBARS

/* Hide scrollbar for Chrome, Safari and Opera */
.nav-sections-box::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.nav-sections-box {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

// ACCESSIBILITY & TAB NAVIGATION STYLES

* {
  &:active,
  &:focus {
    outline: none !important;
  }
  &:focus-visible {
    @include tabbed-focus;
  }
}

a:focus,
p:active {
  box-shadow: none;
  background-color: inherit;
}

a,
button {
  &:focus {
    box-shadow: none !important;
  }
  &:focus-visible {
    @include tabbed-focus;
  }
}

#main-content {
  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }
  &:focus-visible {
    box-shadow: none !important;
    outline: none !important;
  }
}

* .chakra-accordion__button {
  &:hover {
    p {
      background-color: initial;
    }
  }
  &:focus {
    box-shadow: none !important;
  }
  &:focus-visible {
    @include tabbed-focus;
  }
}

.chakra-collapse {
  overflow: visible !important;
}

.ds-c-choice {
  &:focus {
    @include tabbed-focus;
  }
  &:focus-visible {
    @include tabbed-focus;
  }
}
