// necessary to render the UsaBanner correctly
$image-path: "~@cmsgov/design-system/dist/images";
@import "@cmsgov/design-system/dist/scss/index";

html,
body,
#root {
  height: 100%;
  font-size: 100%; // defaults to 16px
}

#app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#main-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ds-c-usa-banner {
  display: flex;
  justify-content: center;
}

.ds-c-usa-banner__header {
  max-width: 1280px;
}

li::marker {
  font-weight: bold;
}

a:focus {
  box-shadow: none;
}

.chakra-icon {
  transition: all 0.3s ease;
}