name: Deploy

on: [push]

concurrency:
  group: ${{ github.ref_name }}

permissions:
  id-token: write
  contents: write
  actions: read

env:
  PROJECT: ${{ vars.APP_NAME_LOWER }}

jobs:
  deploy:
    if: ${{ !startsWith(github.ref_name, 'skipci') }}
    runs-on: ubuntu-latest
    environment: ${{ (github.ref_name == 'production' && 'production') || (github.ref_name == 'val' && 'val') || 'dev' }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
      - uses: actions/cache@v4
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock', 'plugins/**') }}
      - name: path + branch settings + install packages
        run: |
          echo "PATH=$(pwd)/node_modules/.bin/:$PATH" >> $GITHUB_ENV
          BRANCH_NAME=$(./.github/setBranchName.sh ${{ github.ref_name }})
          echo "branch_name=${BRANCH_NAME}" >> $GITHUB_ENV
          ./.github/branchNameValidation.sh $BRANCH_NAME
          ./run install
      - name: Configure AWS credentials for GitHub Actions
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_OIDC_ROLE_TO_ASSUME }}
          aws-region: us-east-1
      - name: deploy
        run: ./run deploy --stage $branch_name
      - id: endpoint
        run: |
          APPLICATION_ENDPOINT=$(./scripts/output.sh ${{ env.PROJECT }}-$branch_name CloudFrontUrl)
          echo "application_endpoint=$APPLICATION_ENDPOINT" >> $GITHUB_OUTPUT
          echo "## Application Endpoint" >> $GITHUB_STEP_SUMMARY
          echo "<$APPLICATION_ENDPOINT>" >> $GITHUB_STEP_SUMMARY
    outputs:
      application_endpoint: ${{ steps.endpoint.outputs.application_endpoint }}

  e2e-tests:
    runs-on: ubuntu-latest
    needs: deploy
    steps:
      - uses: actions/checkout@v4
      - name: Run Cypress Tests
        if: ${{ github.ref_name != 'production' }}
        uses: cypress-io/github-action@v6
        with:
          working-directory: tests
          browser: chrome
          config: baseUrl=${{ needs.deploy.outputs.application_endpoint }}
        env:
          CYPRESS_STATE_USER_EMAIL: ${{ secrets.CYPRESS_STATE_USER_EMAIL }}
          CYPRESS_STATE_USER_PASSWORD: ${{ secrets.CYPRESS_STATE_USER_PASSWORD }}
          CYPRESS_ADMIN_USER_EMAIL: ${{ secrets.CYPRESS_ADMIN_USER_EMAIL }}
          CYPRESS_ADMIN_USER_PASSWORD: ${{ secrets.CYPRESS_ADMIN_USER_PASSWORD }}
          RUN_PA11Y: true
      - name: Upload screenshots
        if: ${{ github.ref_name != 'production' && failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: cypress-test-results-${{ github.run_number }}
          path: tests/cypress/screenshots/
          retention-days: 30
      - name: Run Playwright tests
        if: ${{ github.ref_name != 'production' }}
        run: |
          yarn playwright install
          yarn playwright test --grep-invert "@flaky" --reporter=github,html
        working-directory: tests
        env:
          BASE_URL: ${{ needs.deploy.outputs.application_endpoint }}
          TEST_STATE_USER_EMAIL: ${{ secrets.CYPRESS_STATE_USER_EMAIL }}
          TEST_STATE_USER_PASSWORD: ${{ secrets.CYPRESS_STATE_USER_PASSWORD }}
          TEST_ADMIN_USER_EMAIL: ${{ secrets.CYPRESS_ADMIN_USER_EMAIL }}
          TEST_ADMIN_USER_PASSWORD: ${{ secrets.CYPRESS_ADMIN_USER_PASSWORD }}
      - name: Upload playwright results
        uses: actions/upload-artifact@v4
        if: ${{ github.ref_name != 'production' && failure() }}
        with:
          name: playwright-html-report-${{ github.run_number }}
          path: tests/playwright-report
          retention-days: 30
