# This file is managed by macpro-mdct-core so if you'd like to change it let's do it there
name: Pull Request

on:
  pull_request:
    types: [opened, reopened, ready_for_review, synchronize]

permissions:
  contents: read
  id-token: write
  pull-requests: write

jobs:
  prchecks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
      - name: Enable Corepack
        run: corepack enable
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Configure pre-commit to skip irrelevant checks
        run: echo "SKIP=typescript-check-cli,typescript-check-api,typescript-check-ui,typescript-check-cdk,no-commit-to-branch" >> $GITHUB_ENV
      - uses: pre-commit/action@v3.0.1
      - name: run unit tests
        run: ./scripts/test-unit.ts
      - name: publish test coverage to qlty
        uses: qltysh/qlty-action/coverage@v1
        with:
          oidc: true
          files: |
            ${{github.workspace}}/services/app-api/coverage/lcov.info
            ${{github.workspace}}/services/ui-src/coverage/lcov.info
        env:
          CODE_CLIMATE_ID: ${{ secrets.CODE_CLIMATE_ID }}
  assignAuthor:
    if: github.event.pull_request.user.type != 'Bot' && github.event.action == 'opened'
    runs-on: ubuntu-latest
    steps:
      - name: Assign PR to Creator
        run: gh pr edit $PR_URL --add-assignee $PR_AUTHOR
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_AUTHOR: ${{ github.event.pull_request.user.login }}
          PR_URL: ${{github.event.pull_request.html_url}}
