# This file is managed by macpro-mdct-core so if you'd like to change it let's do it there
name: Scan and Open Jira Tickets (Snyk)

on:
  workflow_dispatch: # for testing and manual runs
  pull_request:
    branches: [main]
  schedule:
    - cron: "0 6 * * *" # daily at 0600 UTC

permissions:
  id-token: write

jobs:
  snyk_run:
    name: Snyk Run (for PR and push)
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Install Snyk and Run Snyk test
        run: npx snyk test --all-projects --json > snyk_output.txt || true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

  snyk_nightly_run:
    name: Snyk Nightly Run (for nightly cron with JIRA)
    runs-on: ubuntu-latest
    if: github.event_name == 'schedule'
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Install Snyk and Run Snyk test
        run: npx snyk test --all-projects --json > snyk_output.txt || true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

      - name: use the custom github  action to parse Snyk output
        uses: Enterprise-CMCS/mac-fc-security-scan-report@v2.8.5
        with:
          jira-username: "mdct_github_service_account"
          jira-token: ${{ secrets.JIRA_ENT_USER_TOKEN }}
          jira-host: "jiraent.cms.gov"
          jira-project-key: "CMDCT"
          jira-issue-type: "Task"
          jira-custom-field-key-value: '{ "customfield_10100": "CMDCT-2280", "customfield_26700" : [{"id": "${{ vars.JIRA_APP_CUSTOM_FIELD_ID }}", "value": "${{ vars.APP_NAME_UPPER }}"}] }'
          jira-labels: "${{ vars.APP_NAME_UPPER }},snyk"
          jira-title-prefix: "[${{ vars.APP_NAME_UPPER }}] - Snyk :"
          is_jira_enterprise: true
          assign-jira-ticket-to: "MWTW"
          scan-output-path: "snyk_output.txt"
          scan-type: "snyk"
          major-version-only: "true"
