# This file is managed by macpro-mdct-core so if you'd like to change it let's do it there
name: Scan and Open Jira Tickets (AWS Security Hub)

on:
  workflow_dispatch: # for testing and manual runs
  schedule:
    - cron: "0 6 * * *" # daily at 0600 UTC

permissions:
  id-token: write
  actions: write

jobs:
  # Hack which is used just to redirect the "scheduled" triggers to deploy/production,
  # since we can't just tell Github (for now) to do a scheduled action on a branch different from the default branch
  trigger-action-on-deploy-production:
    if: github.ref != 'refs/heads/production'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Trigger production workflow
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh workflow run .github/workflows/scan_security-hub-jira-integration.yml \
            --ref production

  sync:
    if: github.ref == 'refs/heads/production'
    name: Run sync
    environment: production
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-east-1
          role-to-assume: ${{ secrets.AWS_OIDC_ROLE_TO_ASSUME }}
      - name: Sync Security Hub and Jira
        uses: Enterprise-CMCS/mac-fc-security-hub-visibility@v2.0.9
        with:
          jira-username: "mdct_github_service_account"
          jira-token: ${{ secrets.JIRA_ENT_USER_TOKEN }}
          jira-project-key: CMDCT
          jira-ignore-statuses: Done, Closed, Cancelled
          jira-custom-fields: >-
            {
              "customfield_10100": "CMDCT-2280",
              "customfield_26700" :
                [
                  {"id": "${{ vars.JIRA_APP_CUSTOM_FIELD_ID }}",
                  "value": "${{ vars.APP_NAME_UPPER }}"}
                ]
            }
          aws-severities: CRITICAL, HIGH, MEDIUM
          jira-assignee: "MWTW"
